.title {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;    
}

.sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    margin: auto;
}

.activated-box {
    background-color: black;
}