.sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketch-box {
    border: 2px black solid;
}

.activated-box {
    background-color: black;
}